.content{
    margin-top : 60px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    margin-top: -60px;
    background-image: url(../../assets//img/login.jpg);
    background-size: contain;
    background-position: center;
}
